<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AngleSharp" version="0.9.11" targetFramework="net45" />
  <package id="HtmlAgilityPack" version="1.11.8" targetFramework="net45" />
  <package id="HtmlSanitizer" version="4.0.217" targetFramework="net45" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.7" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor" version="3.2.7" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.7" targetFramework="net45" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net45" />
  <package id="SharpCompress" version="0.23.0" targetFramework="net45" />
  <package id="StackExchange.Redis" version="1.2.6" targetFramework="net45" />
</packages>