<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Aspose.Words" version="17.2.0" targetFramework="net45" />
  <package id="ConDep.Dsl" version="4.0.7" targetFramework="net45" />
  <package id="log4net" version="2.0.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Client" version="4.0.30506.0" targetFramework="net45" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net45" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net45" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net45" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net45" />
  <package id="SlowCheetah.Tasks.Unofficial" version="1.0.0" targetFramework="net45" />
  <package id="StackExchange.Redis" version="1.2.0" targetFramework="net45" />
</packages>