<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AngleSharp" version="0.9.9.2" targetFramework="net45" />
  <package id="HtmlSanitizer" version="4.0.185" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="11.0.1" targetFramework="net45" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net45" />
  <package id="StackExchange.Redis" version="1.2.4" targetFramework="net45" />
</packages>